.outerSide {
  position: relative;
  display: flex;
  font-family: 'Saira Extra Condensed';
  letter-spacing: 2.5px;
}

.rightSide {
  left: calc(200px + 5vw);
  max-width: 80vw;
  position: absolute;
  height: 100vh;
}

.titleContainer {
  margin-left: 5vw;
  margin-top: 0vh;
}

.nameTitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: calc(38px + 6vw);
}

.brown {
  color: #810CA8;
}


.hometext {
  width: calc(80vw - 280px);
  margin-top: 30px;
  font-size: calc(18px + 2vw);
  height: 30vh;

}

.social-icons {
  width: calc(40vw);
  display: flex;
  justify-content: space-around;
}

/* 
.social-icon:hover {
  background-color: #7c0cbc;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
} */

.social-icon.mail:hover {
  background-color: #FBBC05;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
  transform: rotate(0deg);
}

.social-icon.linkedin:hover {
  background-color: #0072b1;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
  transform: rotate(0deg);
}

.social-icon.github:hover {
  background-color: #171515;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
  transform: rotate(0deg);
}

.social-icon.whatsapp:hover {
  background-color: #25D366;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
  transform: rotate(0deg);
}

.social-icon.google:hover {
  background-color: #D5473A;
  box-shadow: rgba(0, 0, 0, 0.924) 0px 5px 17px;
  transform: rotate(0deg);
}

.social-icon {
  color: white;
  background: var(--icon-background);
  border-radius: 60% 40% 36% 64% / 56% 59% 41% 44%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 70px;
  transform: rotate(1440deg);
  transition: 0.5s all ease;
  
}

.headTitle {
  font-size: calc(22px + 2vw);
}

.subTitle {
  font-size: calc(18px + 3vw);
}

.darkmodebutton{
text-align: right;
margin-top: 20px ;
}